<div style=" display: flex; justify-content: center;">
  <div style="position: relative;">
      <video #videoElement width="640" height="480" style="display:none"></video>
      <canvas #canvasElement width="640" height="480"  style="transform: scaleX(-1);"></canvas>
      <app-glow-button text="I Am Ready!" (onClick)="iAmReady(true)" *ngIf="iAmReadyButtonEnabled"></app-glow-button>
      
  </div>
</div>
<div class="container">
  <div class="green-box">Pull Request Created: {{hits}} </div><div class="red-box">Bugs Caught: {{caught}} </div>
</div>